
@{
    ViewBag.Title = "AboutUs";
}
@Html.Partial("MenuWidget")
<h2>AboutUs</h2>
<article>
    <h2>Google Chrome</h2>
    <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
</article>
<table>
    <tbody>
        <tr>
            <td>Cell A</td>
            <td>Cell B</td>
        </tr>
        <tr>
            <td>Cell C</td>
            <td>Cell D</td>
        </tr>
    </tbody>
</table>
