@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}

<h1>User List</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                UserId
            </th>
            <th>
                User Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                  @obj.UserId
                </td>
                <td width ="30%">
                  @obj.UserName
            </tr>
        }
    </tbody>
</table>