<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/92e5802d-7a17-43ca-a9c0-1fd56106ec0b/resourcegroups/AZ-900/providers/Microsoft.Web/sites/pharmacyManagementWebApiservice20220617105735</ResourceId>
    <ResourceGroup>AZ-900</ResourceGroup>
    <ApiResourceId>/subscriptions/92e5802d-7a17-43ca-a9c0-1fd56106ec0b/resourceGroups/AZ-900/providers/Microsoft.ApiManagement/service/pharmacyManagementWebApiserviceapi/apis/pharmacyManagementWebApiservice</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pharmacymanagementwebapiservice20220617105735.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b57bde3c-11a8-42dd-9139-12c3135c3bcc</ProjectGuid>
    <MSDeployServiceURL>pharmacymanagementwebapiservice20220617105735.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pharmacyManagementWebApiservice20220617105735</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$pharmacyManagementWebApiservice20220617105735</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>